<div id="<%= dom_id food_type %>">
  <p>
    <strong>Category:</strong>
    <%= food_type.category %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= food_type.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= food_type.price %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= food_type.image %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= food_type.size %>
  </p>

  <p>
    <strong>Foods:</strong>
    <%= food_type.foods_id %>
  </p>

</div>
